site_name: EUDIPLO
repo_name: cre8/eudiplo
repo_url: https://github.com/cre8/eudiplo
edit_uri: edit/main/docs/
docs_dir: docs
copyright: "License: CC BY 4.0"
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
  - content.code.copy
  - content.action.view
  - content.action.edit
  - navigation.expand
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.path
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.suggest
  - toc.follow  
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
extra_css:
  - stylesheets/styles.css
plugins:
    - plantuml:
        puml_url: 'https://www.plantuml.com/plantuml/'
        puml_keyword: plantuml
        verify_ssl: false
        interaction:
          enabled: false
        theme:
          enabled: false
    - search
    - glightbox
    - neoteroi.mkdocsoad:
        use_pymdownx: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cre8/eudiplo
  legal:
    - text: Contributing
      link: https://github.com/cre8/eudiplo/blob/main/CONTRIBUTING.md

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Configuration: getting-started/configuration.md
      - Running Locally: getting-started/running-locally.md
      - Flows:
        - Issuance: getting-started/issuance.md
        - Presentation: getting-started/presentation.md
      - Webhooks: getting-started/webhooks.md
  - Architecture:
      - Overview: architecture/overview.md      
      - Key Management: architecture/key-management.md
      - Database: architecture/database.md      
      - Compodoc: /eudiplo/compodoc
  - API:
    - Swagger: api/swagger.md
    - Endpoints: api/api.md  
  - Development:
      - Contributing Guide: development/contributing.md      
      - Testing: development/testing.md  
  - License: https://github.com/cre8/eudiplo/blob/main/LICENSE