<h2 mat-dialog-title>
  <mat-icon color="warn">warning</mat-icon>
  Temporary Password Generated
</h2>
<mat-dialog-content>
  <p><strong>Save this password now.</strong> It is shown only once.</p>
  <p class="hint">User will be asked to change it on first login.</p>

  <div class="secret-box">
    <div class="label">Username</div>
    <div class="value">{{ data.username }}</div>
  </div>

  <div class="secret-box">
    <div class="label">Temporary Password</div>
    <div class="value secret">{{ data.temporaryPassword }}</div>
  </div>

  <div class="actions-row" fxLayout="row" fxLayoutGap="8px">
    <button mat-stroked-button (click)="copyPassword()">
      <mat-icon>content_copy</mat-icon>
      Copy Password
    </button>
    <button mat-stroked-button (click)="copyAll()">
      <mat-icon>copy_all</mat-icon>
      Copy Both
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>
