table {
  width: 100%;
}

.key-link {
  text-transform: none;
}

.empty-state {
  padding: 48px 24px;
  text-align: center;

  .empty-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    color: rgba(0, 0, 0, 0.26);
  }

  p {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
  }

  .hint {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
  }
}
