<h2 mat-dialog-title>
  <mat-icon color="warn">warning</mat-icon>
  Client Secret Generated
</h2>
<mat-dialog-content>
  <p><strong>Save this secret now!</strong> You won't be able to see it again.</p>
  <p class="hint">
    If you lose this secret, you can always generate a new one using the "Rotate Secret" button in
    the client list.
  </p>

  <div class="secret-box">
    <div class="label">Client ID</div>
    <div class="value">{{ data.clientId }}</div>
  </div>

  <div class="secret-box">
    <div class="label">Client Secret</div>
    <div class="value secret">{{ data.secret }}</div>
  </div>

  <div class="actions-row" fxLayout="row" fxLayoutGap="8px">
    <button mat-stroked-button (click)="copySecret()">
      <mat-icon>content_copy</mat-icon>
      Copy Secret
    </button>
    <button mat-stroked-button (click)="copyAll()">
      <mat-icon>copy_all</mat-icon>
      Copy Both
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-flat-button color="primary" (click)="loginAsClient()">
    <mat-icon>login</mat-icon>
    Login as this Client
  </button>
</mat-dialog-actions>
