mat-dialog-content {
  min-width: 800px;
  min-height: 800px;
  max-width: 90vw;
  max-height: 80vh;
}
::ng-deep ngx-monaco-editor {
  padding-top: 100px;
  height: 800px !important;
  width: 1200px;
}
