<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <h2>{{ data.title }}</h2>
  <button mat-icon-button (click)="copyToClipboard()">
    <mat-icon>content_copy</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <div class="tab-content">
    <ngx-monaco-editor [formControl]="jsonControl" [options]="editorOptions"></ngx-monaco-editor>
    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-button (click)="formatJson()">
        <mat-icon>auto_fix_high</mat-icon>
        Format JSON
      </button>
      <button mat-button (click)="validateJson()">
        <mat-icon>verified</mat-icon>
        Validate JSON
      </button>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
  <button mat-button (click)="cancel()">Cancel</button>
  @if (!data.readonly) {
    <button mat-raised-button color="primary" (click)="save()" [disabled]="jsonControl.invalid">
      <mat-icon>save</mat-icon>
      Apply Changes
    </button>
  }
</mat-dialog-actions>
